<div class= "container">
  <aside class="col-md-4">
		<%= image_tag("me.jpg", :width => 300, :height => 300) %>
	</aside>

<article class="col-md-8 description">

<h3>About:</h3>
  <p>
    I'm David Garber, a graduate of Epicodus Spring 2015 Ruby/JavaScript/Rails
    cohort. I interned at <a href="http://www.workfrom.co">Workfrom.co</a>, a site deicated to helping Digital Nomads
    find spaces to work all over the world. Presently, I am working as the
    Workfrom Business Evangelist, focusing on sales.
  </p>
  <h3>Contact info:</h3>
  <p>
    (310) 429-6205
  </p>
  <p>
    <a href="mailto:davidgarber@gmail.com">davidgarber@gmail.com</a>
  </p>
  <p>
    <a href="https://www.linkedin.com/in/davidjonathangarber">LinkedIn</a>
  </p>
  <p>
    <a href="https://github.com/davidgarber">Github</a>
  </p>


</article>
</div>
