<!DOCTYPE html>
<html>
<head>
  <title>David Garber Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <div class="container">
      <nav class='navbar navbar-default' role='navigation'>
        <ul class='nav navbar-nav'>
          <li><a href ="/">David Garber</a></li>
          <li><a href ="categories">Categories</a></li>
          <li><a href ="references">References</a></li>
        </ul>
      </nav>
    </div>
</head>
<body>

<%= yield %>

</body>
</html>
